
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/Images/Logo.png" type="image/png">  
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<title> Homepage | JNTUH GPA Calc </title>
<link rel="stylesheet" href="/static/home.css">

</head>
<body>
    
    <div class="containter">
        <div>
            <img id="logo" src="/static/Images/Logo-withText.png" alt="pic">
        </div>
        <div class="side">
            <div class="text">
                Checkout your CGPA <br>
                Exclusively for JNTUH Affiliated Colleges
            </div>
            <div class="buttons">
                <button> Get Started</button>
                <button> How it Works ?</button>
            </div>
        </div>
    </div>
            <img src="/static/Images/home.png"  data-aos="zoom-out" data-aos-duration="1500" id="homeimg">    

</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</html>